@media (max-width: 1024px) {
  .text {
    padding: 2rem;
    justify-content: center;
  }

  .text>h1 {
    font-size: 5rem;
    margin: 2rem 0 0 11rem;
    position: relative;
    
  }
  

  .text>img{
     position: absolute;
     margin-left: -14rem;
  }

  .text>h6 {
    font-size: 1.2rem;
   }

  .main {
    width: calc(100% - 1rem);
    margin-left: 1rem;
    border-top-left-radius: 2rem;
  }


  #task-cards {
    width: 80%;
    height: 85%;
  }
}

@media (max-width: 768px) {
  .text {
    padding: 1rem;
    justify-content: center;
  }

  .text>h1 {
    font-weight: 400;
    font-size: 3rem;
    margin: 2rem 0 0 9rem;
    position: relative;
  }
  .text>img{
    position: absolute;
    margin: 0.5rem 6rem 0 -5rem;
    height: 4rem;
  }

  .text>h6 {
    font-size: 1rem;
  }

  .main {
    width: calc(100% - 1rem);
    border-top-left-radius: 2rem;
  }

  .input-div>input{
    width: 25rem;
  }

  #task-cards {
    width: 90%;
    height: 70%;
  }

  #task-cards > div > .Tasks {
    height: 4rem;
  }

  #task-cards > div > .Tasks > input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}

 @media (max-width: 500px) and (min-width: 320px) {
  .text>h1 {
    font-size: 3rem;
    position: relative;
  }
  .text>img{
    position: absolute;
    margin: 0.5rem 6rem 0 3rem;
    height: 4rem;
  }
  .text>h6 {
    font-size: 0.8rem;
  }
  
  .input-div>input{
    width: 12rem;
    height: 2rem;
  }
   .input-div>button{
    height: 2rem;
    width: 2rem;
   }
 }
